.container-fluid{
   background-color: #338AFF;
   color: white;
   font-size: 11px;
}
.size{
   width: 100px;
   height: 100px;
}
li{
	background-color: white;
	color : red;
	font-size: 15px;
	font-weight: bold;
}
.size1{
	width: 99%;
	height: 400px;
}
.color{
	color: #338AFF;
}
.jumbotron.color{
	background-color: #338DFF;
	color: white;
}
.nav-link:hover {
	border-bottom: 2px solid blue;
}
.margin-left-20 {
	margin-left: 20px !important;
}